body {
    margin-left: 10px;
  }
  
  .divisa {
    font-weight: bold;
    margin-right: 10px;
    width: 50px;
    display: inline-block;
  }
  
  .cotizacion {
    width: 100px;
    text-align: right;
    font-style: italic;
    display: inline-block;
  }